body {
  font-family: 'Arial', sans-serif;
  background-color: #ffe6f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
}

h1 {
  color: #d63384;
}

#mensaje-inicial {
  font-size: 18px;
  color: #a52a2a;
  margin-bottom: 20px;
  font-style: italic;
}

.foto-reina {
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px pink;
}

button {
  background-color: #ff69b4;
  border: none;
  padding: 10px 20px;
  color: rgb(7, 7, 7);
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #ff85c1;
}

.option {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
  border: 2px solid #ff69b4;
  border-radius: 10px;
  width: 60%;
  cursor: pointer;
}

.option:hover {
  background-color: #ffe0ed;
}

.sad-face {
  font-size: 24px;
  color: #d63384;
  margin-top: 10px;
}


